{% extends 'base_extranet.html.twig' %}
{% block body %}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-success" style="margin:25px 0px" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <div class="wrapper" style="  position: relative;
  width: 400px;
  height: 200px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;">
        <canvas id="signature-pad" class="signature-pad" style="  position: absolute;
  left: 0;
  top: 0;
  width:400px;
  height:200px;
  background-color: white;" width=400 height=200></canvas>
    </div>

    <button id="sendSign">Save as PNG !!!</button>
    <button id="clear">Clear</button>
{% endblock %}