 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
    <style type="text/css">
        * { margin: 0; padding: 0; font-size: 100%; font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; line-height: 1.65; }
        img { width: 100%;}
        body, .body-wrap { width: 100% !important; height: 100%; background: #f8f8f8; }
        a { color: #71bc37; text-decoration: none; }
        a:hover { text-decoration: underline; }
        .text-center { text-align: center; }
        .text-right { text-align: right; }
        .text-left { text-align: left; }
        .button { display: inline-block; color: white; background: #71bc37; border: solid #71bc37; border-width: 10px 20px 8px; font-weight: bold; border-radius: 4px; }
        .button:hover { text-decoration: none; }
        h1, h2, h3, h4, h5, h6 { margin-bottom: 20px; line-height: 1.25; }
        h1 { font-size: 32px; }
        h2 { font-size: 28px; }
        h3 { font-size: 24px; }
        h4 { font-size: 20px; }
        h5 { font-size: 16px; }
        p, ul, ol { font-size: 16px; font-weight: normal; margin-bottom: 20px; }
        .container { display: block !important; clear: both !important; margin: 0 auto !important; max-width: 580px !important; }
        .container table { width: 100% !important; border-collapse: collapse; }
        .container .masthead { padding: 80px 0; background: #71bc37; color: white; }
        .container .masthead h1 { margin: 0 auto !important; max-width: 90%; text-transform: uppercase; }
        .container .content { background: white; padding: 30px 35px; }
        .container .content.footer { background: none; }
        .container .content.footer p { margin-bottom: 0; color: #888; text-align: center; font-size: 14px; }
        .container .content.footer a { color: #888; text-decoration: none; font-weight: bold; }
        .container .content.footer a:hover { text-decoration: underline; }
    </style>
</head>
<body>
{% set texteArrhes = "Nos locations sont pour une année fixe elle débute au 1er juillet pour se terminer le 30 juin de l'année suivante et peuvent se renouveler par tacite reconduction.

    Vous pouvez réserver dès aujourd'hui un logement dans nos résidences en versant 150 €uros d'arrhes.

    Vous ne prenez aucun risque en réservant préalablement.

     En effet si vous échouez à vos examens ou si vous n'êtes pas admis dans l'établissement que vous souhaitez les arrhes de réservation  vous seront restitués en intégralité et ce jusqu'au début juillet 2021.

     Ce principe de location vous permet de choisir un logement adapté à vos besoins sans engagement définitif de votre part.

    Pour de plus amples renseignements vous pouvez me joindre au 06.31.53.18.42" %}

{% set texteWithoutArrhes = "Nos locations sont pour une année fixe elle débute au 1er juillet pour se terminer le 30 juin de l'année suivante et peuvent se renouveler par tacite reconduction.

    Pour de plus amples renseignements vous pouvez me joindre au 06.31.53.18.42" %}


{% if  dispos.Arrhes == 1 %}
    {% set texte = texteArrhes %}
{% else %}
    {% set texte = texteWithoutArrhes %}
{% endif %}

<table class="body-wrap">
    <tr>
        <td class="container">
            <table>
                <tr>
                    <td align="center" class="masthead">
                        <h1>Bonjour {{dispos.Nom}} </h1>
                    </td>
                </tr>
                <tr>
                    <td class="content">
                        {{texte}}
                        <h2>Voici les appartement disponible :</h2>
                        {% for appart in apparts %}
                            <a href="http://127.0.0.1:8000/appartement/fiche/{{appart}}">Visitez la fiche de l'appartement N°{{ appart }}</a></br></br>
                        {% endfor %}

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="container">
            <!-- Message start -->
            <table>
                <tr>
                    <td class="content footer" align="center">
                        <p>Envoyé par <a href="#">Evasion</a>, 6500 Tarbes</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>